__pycache__/
*.pyc
.DS_Store
.env
node_modules/
venv/
venv/lib/python3.9/site-packages/awscli/examples/greengrass/create-connector-definition-version.rst

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
