<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python\python.exe|D:\home\site\wwwroot\weather_event_planner\weather_event_planner\wsgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
